<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.processing.processing_compiler">
    <!-- Flutter needs it to communicate with the running application
         to allow editor_setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
